<h1>Data about <%= @cohort.name %> </h1>
<div>
	Cohort Name: <%= @cohort.name %> <br>
	Start Date: <%= @cohort.start_date %> <br>
	End Date: <%= @cohort.end_date %> <br>
</div>


<!--      NEED TO LIST ALL THE STUDENTS OF THIS COHORT       -->



