<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>AlumNUTS notification</h1>
    <h3>Believe it or not, it's been 100 days since graduation.</h3>
    <p>
      Could you show us some love and complete this survey in full: <%= link_to "Survey", new_student_survey_url(@user) %>.
    <br>
    Your responses will help us gauge the success of our programs and future graduates.
    </p>
  </body>
</html>
