<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>AlumNUTS notification</h1>
    <h3>So, it's been 100 days....</h3>
    <p>
      Please, complete the survey: <%= link_to "Survey", student_surveys_url(@user) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
