<h1>Student Sign-up Form</h1>
<ul>
  <% @student.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<%= form_for @student do |form| %>
  <%= render form %>
  <div class="actions">
    <%= form.submit 'Sign Up!' %>
  </div>
<% end %>
