<%= image_tag 'alumnuts-0.png', size: '600x200', class: 'alumnuts' %>
<div class="photos">
  <%= image_tag 'alumnuts-1.jpg', size: '500x375' %>
  <%= image_tag 'alumnuts-2.jpg', size: '500x375' %>
</div>
