<%= if @student.survey_complete != true

	<h1>Survey</h1>

	<%= form_for student_surveys_path(@student) do |form| %>
	  <%= render form %>
	  <div class="actions">
	    <%= form.submit 'Submit' %>
	  </div>
	<% end %>

	<% else %>
	<p> <% Uh oh. You can only submit this survey once.%> </p> 

<% end %>
