<p><%= @error %></p>
<h1>Survey</h1>

<%= form_for student_surveys_path(@student) do |form| %>
  <%= render form %>
  <div class="actions">
    <div class="submit_survey"><%= form.submit 'Submit' %></div>
  </div>
<% end %>



