/* pop-up after survey completion */
.inside_notice {
	padding: 0;
 	opacity: 1;
 	margin: 0;
 	position: absolute;
 	top: 30%;
 	left: 37%;
 	width: 25%;
 	height: 130px;
 	z-index: 2;
 	background-color: white;
 	border: 2px solid rgb(88, 88, 88);
 	border-radius: 10px;
 	color: rgb(40, 40, 40);
 	font-size: 20px;
 	text-align: center;
 	padding-top: 40px;
}

.person-tan {
	width: 300px;
	height: 200px;
	position: absolute;
	right: 100px;
	top: 50px;

}

.person-black {
	width: 300px;
	height: 200px;
	position: absolute;
	right: 100px;
	top: 50px;

}

.person {
	float: left;
	width: 150px;
	margin-right: -100px;
	margin-top: -50px;
}

#person1, #person2, #person3, #person4, #person5, #person6, #person7, #person8, #person9, #person10, #person11, #person12, #person13, #person14, #person15, #person16, #person17, #person18, #person19, #person20, #person21, #person22, #person23, #person24, #person25, #person26, #person27, #person28, #person29, #person30 {
	float: left;
	width: 150px;
	display: none;
	margin-right: -100px;
	margin-top: -50px;
}


