@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* pop-up after survey completion */
.inside_notice {
	font-size: 11px;
	padding: 0;
 	opacity: 1;
 	margin: 0;
 	position: absolute;
 	top: 30%;
 	left: 37%;
 	width: 25%;
 	height: 130px;
 	z-index: 2;
 	background-color: white;
 	border: 2px solid rgb(88, 88, 88);
 	border-radius: 10px;
 	color: rgb(40, 40, 40);
 	font-size: 20px;
 	text-align: center;
 	padding-top: 40px;
}

