@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* pop-up after survey completion */
.inside_notice {
	font-size: 11px;
	padding: 0;
 	opacity: 1;
 	margin: 0;
 	position: absolute;
 	top: 30%;
 	left: 37%;
 	width: 25%;
 	height: 130px;
 	z-index: 2;
 	background-color: white;
 	border: 2px solid rgb(88, 88, 88);
 	border-radius: 10px;
 	color: rgb(40, 40, 40);
 	font-size: 20px;
 	text-align: center;
 	padding-top: 40px;
}

.person-tan {
	width: 300px;
	height: 200px;
	position: absolute;
	top: 250px;
	right: 100px;
}

.person-black {
	width: 300px;
	height: 200px;
	position: absolute;
	top: 250px;
	right: 100px;
}

.person {
	float: left;
	width: 150px;
	margin-right: -100px;
	margin-top: -50px;
}

.peoplechart{
	float: right;
	margin: 0;
	width: 300px;
	padding-right: 200px;
}

.employment_info{
	display:none;
}

#person1, #person2, #person3, #person4, #person5, #person6, #person7, #person8, #person9, #person10, #person11, #person12, #person13, #person14, #person15, #person16, #person17, #person18, #person19, #person20, #person21, #person22, #person23, #person24, #person25, #person26, #person27, #person28, #person29, #person30 {
	float: left;
	width: 150px;
	display: none;
	margin-right: -100px;
	margin-top: -50px;
	z-index: -1px
}

.error_line {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.error_line_indent {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-left: 10%;
}

.centered {
	text-align: center;
}

.body_txt {
	font-family: 'Open Sans', sans-serif;
	margin: 10%;
}

.bold_txt {
	font-weight: bold;
}

.condensed_txt {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.formbox2{
	width: 280px;
	border: none;
	height: 10px;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #5A5A5A;
}

.formbox3{
	width: 900px;
	border: none;
	height: 10px;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #5A5A5A;
}

.formbox4{
	width: 140px;
	border: none;
	height: 10px;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #5A5A5A;
}

.expanded {
    letter-spacing: 1px;
}

.stats-container{
width: 900px;
margin-right: auto;
margin-left: auto;
}
.statshead{
	text-align: center;
	margin: 20px 0 60px 0;
}

#send_survey{
	width: 100px;
	height: 40px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border: none;
	border-radius: 10px;
	background: #CC1F14;
	margin-top: 10px;
}


.linechart{
	margin: 30px;
}
#mylinechart{
	background: #FEDD91;
	float: left;
}

.percent{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	float: left;
	color: #222222;
	font-size: 200px;
	margin: 10px 80px 10px 100px;
}

.cohortpiechart{
float: left;

}

.cohortpiehead{
		font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.cohortpiestat{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
}



.position_type{
	float: left;
	margin-left: 45px;
}
.dev_type{
	float:left;
	margin-left:10px;
}
.bar-chart_explanation {
	clear: both;
}

.outcomes_pie_chart {
	width: 320px;
	clear: both;
}
.program_pie_chart {
	clear: both;
}

